@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VIDEO GAME PARADISE</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>ESPACE ADMIN</h2>
        <p>
          BIENVENUE 
        </p>
    </div>
  